.background {
  background: center no-repeat url(esponacast/styled-media/img/background.png);
}

.logo {
  background-image: url(esponacast/styled-media/img/logo.png);
}

.progressBar {
  background-color: rgb(238, 255, 65);
}

.splash {
  background-image: url(esponacast/styled-media/img/splash.png);
}

.watermark {
  background-image: url(esponacast/styled-media/img/watermark.png);
  background-size: 57px 57px;
}